body {
  background-image: linear-gradient(45deg, #830eb9, #007cba, #0eb96a);
  background-size: 300% 300%;
  animation: Gradient 10s ease infinite;
  background-color: #007cba;
  text-align: center;
  color: azure;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}
a {
  color: azure;
  font-family: "Roboto", sans-serif;
  border: 2px solid #ffffff;
  display: block;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.border {
  color: azure;
  font-family: "Roboto", sans-serif;
  border: 2px solid #ffffff;
  display: block;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  max-width: 80vw;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  color: #fff;
  border: none;
  border-radius: 50%;
  transition: 0.5s;
}

h2 {
  font-family: "Roboto";
}

p {
  font-family: "Roboto";
}
/* Buttons */

button {
  color: azure;
  font-family: "Roboto", sans-serif;
  border: 2px solid #ffffff;
  display: block;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  max-width: 80vw;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0);
}

button:hover {
  box-shadow: inset 0 0 0 3px #ffffff;
  background-color: azure;
  color: #007cba;
}
.backBtn:hover {
  box-shadow: inset 0 0 0 3px #ffffff;
  background-color: azure;
  color: #007cba;
}

#backButton1 {
  max-width: 310px;
  min-width: 310px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  color: #007cba;
  border-color: #007cba;
}
#backButton1:hover {
  box-shadow: inset 0 0 0 3px #ffffff;
  background-color: #007cba;
  color: azure;
}

/* Buttons */

a.border:hover {
  box-shadow: inset 0 0 0 3px #ffffff;
  background-color: azure;
  color: #007cba;
}

a.border2:hover {
  box-shadow: inset 0 0 0 3px #ffffff;
  background-color: azure;
  color: #007cba;
}
a.border3:hover {
  box-shadow: inset 0 0 0 3px #ffffff;
  background-color: azure;
  color: #007cba;
}
a.border4:hover {
  box-shadow: inset 0 0 0 3px #ffffff;
  background-color: #007cba;
  color: azure;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

iframe {
  max-width: 440px;
  max-height: 225px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border-radius: 10px;
  align-content: center;
}

.frontpage {
  display: block;
  min-height: 80vh;
  max-width: 500px;
  text-align: center;
  color: azure;
  margin-left: auto;
  margin-right: auto;
}

.Portfolio {
  display: none;
  min-height: 100vh;
  max-width: 80vh;
  text-align: center;
  color: azure;
  margin-left: auto;
  margin-right: auto;
}

.about {
  display: none;
  max-height: 120vh;
  min-height: 100vh;
  max-width: 30vw;
  text-align: center;
  color: azure;
  margin-left: auto;
  margin-right: auto;
}

.aboutBox {
  display: none;
  max-width: 400px;
  min-width: 30vw;
  /* width: 40vw; */
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  margin-left: auto;
  margin-right: auto;
  color: #007cba;
  border-radius: 10px;
}

.border2 {
  /* max-width: 50%; */
  width: 20%;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
.backBtn {
  width: 30%;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.border3 {
  /* max-width: 50%; */
  width: 80%;
  height: 15vh;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.border4 {
  /* max-width: 50%; */
  width: 20%;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  color: #007cba;
  border-color: #007cba;
}

.logo {
  max-width: 250px;
  margin-bottom: 15px;
  margin-top: 7vh;
}
.CaeFlying {
  max-width: 250px;
  margin-bottom: 15px;
  margin-top: 2vh;
  border-radius: 10px;
}

.AirportReviewImage {
  max-width: 100px;
  margin-bottom: 15px;
  margin-top: 7vh;
  border-radius: 10px;
}
.socials {
  padding: 10px 5px;

  border: none;
}

.wrapper {
  color: azure;
}
