body {
  background-color: #007cba;
  background-image: linear-gradient((2% #007cba, 100% #0b9957));
  min-height: 100vh;
  text-align: center;
  color: azure;
}

.logo {
  max-width: 30vw;
}

a {
  color: azure;
  font-family: "Roboto", sans-serif;
  border: 2px solid #ffffff;
  display: block;
  padding: 10px 20px;
  margin-bottom: 15px;
}
